
@font-face {
    font-family: 'avantt';
    src: url("../public/assets/fonts/AvanttTRIAL-Regular-BF6721a86b1a848.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'avantt';
    src: url("../public/assets/fonts/AvanttTRIAL-SemiBold-BF6721a86b1576e.otf");
    font-weight: 600;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
    font-family: 'avantt' !important;
}

.product-spacing {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
}

.dark-black {
    background-color: #191423;
}

.product-card-spacing {
    padding: 16px 26px 16px 26px !important;
}

.light-blue {
    background-color: #362B4F;
}

.main-heading {
    font-size: 46px;
    font-weight: 600;
    line-height: 59.8px;
    text-align: left;
    padding-bottom: 50px;
}

.radius-16 {
    border-radius: 16px;
}

.product-px {
    padding-left: 149px;
    padding-right: 161px;
}

.product-pera {
    max-width: 369px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.py-133 {
    padding-top: 133px;
    padding-bottom: 133px;
}

.px-26 {
    padding-left: 26px !important;
    padding-right: 26px !important;
}

.grid-image-1 {
    max-width: 100px;
}

.grid-image-2 {
    max-width: 203px;
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 6px;
}

.g-items {
    border-radius: 4px;
}

.g-items1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.g-items2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.g-items3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.g-items4 {
    grid-column: 5/7;
    grid-row: 1/2;
}

.g-items5 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.g-items6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.g-items7 {
    grid-column: 4/6;
    grid-row: 2/3;
}

.g-items8 {
    grid-column: 6/7;
    grid-row: 2/3;
}

.g-items9 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.g-items10 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.g-items11 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.max-w-300 {
    max-width: 300px;
}

.count {
    font-size: 40px;
}

.g-items12 {
    grid-column: 5/7;
    grid-row: 3/4;
}

.competition-padding {
    padding: 143px 144px;
}

.max-w-481 {
    max-width: 481px;
}

.sky {
    background-color: #026070;
}

.py-52 {
    padding-top: 52px;
    padding-bottom: 52px;
}

.card-padding {
    padding: 51px 8px 52px 16px;
}

.max-w-674 {
    max-width: 674px !important;
}

.competition-container {
    max-width: 1160px !important;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.competition-text {
    max-width: 481px;
    width: 100%;
}

.competition-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #026070;
}

.border-radius-sm {
    border-radius: 12px;
}

.table-bg {
    background-color: #026070;
}

.border-b {
    border-bottom: 0.75px solid #000000;
}

.table-parent {
    justify-content: space-around;
}

.max-w-95 {
    max-width: 95px !important;
}

.table-heading {
    font-size: 12px;
    line-height: 15.6px;
    padding: 27px 19px !important;
    width: 95px !important;
    font-weight: 600;
}

.custom-table-bg {
    background: #026070 !important;
    border-radius: 12px !important;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 0;
}

.bg-dark-aqua {
    background-color: #56E3CB !important;
}

.Competition-td {
    padding: 18px 21px;
    border-top: 0.75px solid;
    border-bottom: 0.75px solid;
}

.Competition-td:last-child {
    background-color: #e8f5e9;
}

.table-heading {
    padding: 12px 15px;
}

table th:first-child,
table td:first-child {
    border-left: none;
}

.x-radius-top {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.x-radius-bottom {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

thead tr th {
    padding: 12px 15px;
}

.border-b-none {
    border-bottom: none !important;
}

.fee-text {
    font-size: 8px;
    max-width: 64px;
}

.cursor-pointer {
    cursor: pointer;
}

.px-sm {
    padding-left: 0;
    padding-right: 0;
}
@media(max-width:575.99px) {
    .main-heading {
        font-size: 32px;
        padding-bottom: 10px;
    }

    .product-px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .px-26 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .g-items1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .g-items2 {
        grid-column: 3/6;
        grid-row: 1/2;
    }

    .g-items3 {
        grid-column: 4/6;
        grid-row: 2/3;
    }

    .g-items4 {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .g-items5 {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .g-items6 {
        grid-column: 4/6;
        grid-row: 3/4;
    }

    .g-items7 {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .g-items8 {
        grid-column: 4/6;
        grid-row: 4/5;
    }

    .g-items9 {
        grid-column: 4/6;
        grid-row: 5/6;
    }

    .g-items10 {
        grid-column: 1/4;
        grid-row: 5/6;
    }

    .g-items11 {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .g-items12 {
        grid-column: 3/6;
        grid-row: 6/7;
    }

    .max-sm-py {
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .product-card-spacing {
        padding: 16px !important;
    }

    .flex-col {
        flex-direction: column !important;
    }
}

@media(max-width:1023.98px) {
    .competition-text {
        max-width: none;
        width: 100%;
    }

    .max-md-flex-wrap {
        flex-wrap: wrap;
    }

    .product-px {
        padding-left: 30px;
        padding-right: 30px;
    }

    .g-items5 {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .g-items2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .g-items1 {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .g-items6 {
        grid-column: 6/7;
        grid-row: 1/2;
    }

    .g-items10 {
        grid-column: 5/7;
        grid-row: 2/3;
    }

    .g-items7 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .g-items4 {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .g-items9 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .g-items11 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .g-items12 {
        grid-column: 3/5;
        grid-row: 3/4;
    }

    .g-items8 {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    .g-items3 {
        grid-column: 6/7;
        grid-row: 3/4;
    }

    .product-pera {
        width: 100%;
        max-width: none;
    }
}

@media(max-width:1200.98px) {
    .product-pera {
        width: 100%;
        max-width: none;
    }

    .max-w-674 {
        max-width: none !important;
        width: 100%;
    }

    .max-lg-py {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .px-sm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-heading {
        padding-bottom: 30px;
        margin: 0;
    }
}



