.product-py-72{
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 1440px;
}
.dark-black{
    background-color: #191423;
}
.product-card-spacing{
   padding: 16px 26px  !important;

}
.light-blue{
    background-color: #362B4F;
}
.max-w-1128{
    max-width: 1128px;
    margin: auto;
}
.main-heading{
font-family: Avantt;
font-size: 46px;
font-weight: 600;
line-height: 59.8px;
text-align: left;
color: white;
padding-bottom: 50px;
margin: 0;
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.justify-between{
    justify-content: space-between;
}
.row {
    flex-direction: row;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    gap: 16px;
}
.radius-16{
    border-radius: 16px;
}
.product-px{
    padding-left: 149px;
    padding-right: 161px;
}
.product-pera{
 max-width: 369px;
 color: white;
font-family: Avantt;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.col-md-4{
    width: 33.33%;
}
.py-133{
padding-top: 133px;
padding-bottom: 133px;
}
.px-26{
 padding-left: 26px  !important;
 padding-right: 26px  !important;

}
.grid-image-1{
    max-width: 100px;
}
.grid-image-2{
    max-width: 203px;
}
.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 8px;
}

.g-items {
    border-radius: 4px;
    overflow: hidden;
}
.g-items1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.g-items2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.g-items3 {
    grid-column: 4/5;
    grid-row: 1/2;
}
.g-items4 {
    grid-column: 5/7;
    grid-row: 1/2;
}
.g-items5 {
    grid-column: 1/3;
    grid-row: 2/3;
}
.g-items6 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.g-items7 {
    grid-column: 4/6;
    grid-row: 2/3;
}

.g-items8 {
    grid-column: 6/7;
    grid-row: 2/3;
}
.g-items9 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.g-items10 {
    grid-column: 2/4;
    grid-row: 3/4;
}
.g-items11 {
    grid-column: 4/5;
    grid-row: 3/4;
}
.g-items12 {
    grid-column: 5/7;
    grid-row: 3/4;
}
.competition-padding{
padding: 143px 144px;
}
.max-w-481{
    max-width: 481px;
}
.sky{
    background-color:#026070;
}
.py-52{
    padding-top: 52px;
    padding-bottom: 52px;
}
.card-padding{
    padding: 51px 8px 52px 16px;
}
.map-text{
    font-family: Avantt;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: left;
color: white;

}
.max-w-674{
max-width: 674px !important;
}

@media(max-width:1023.98px){
    .product-px{
    padding-left: 70px;
    padding-right: 70px;
}
    .g-items5 {
    grid-column: 5/7;
    grid-row: 1/2;
}
.g-items2 {
    grid-column: 2/5;
    grid-row: 1/2;
}
.g-items1{
    grid-column: 1/2;
    grid-row: 1/2;
   
}
.g-items3{
    grid-column: 1/2;
    grid-row: 2/3;
   
}

.g-items7 {
    grid-column: 1/4;
    grid-row: 2/3;
}
.g-items4 {
    grid-column: 4/7;
    grid-row: 2/3;
}

}


